@import "tailwindcss";


html {
  --line-color:#e5e7eb;
}

@keyframes bubble-rise {
  0%   { transform: translateY(0) translateX(0); opacity: 0; }
  10%  { opacity: 0.8; }
  50%  { transform: translateY(-50vh) translateX(8px); }
  100% { transform: translateY(-100vh) translateX(-8px); opacity: 0; }
}

.bubble {
  border-radius: 9999px;
  filter: blur(0px);
  will-change: transform, opacity;
  animation-name: bubble-rise;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}